.order {
  background-color: $color-light-gray-first;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include for-large-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @include for-large-down {
    padding: 50px 15px;
  }

  &__details {
    display: block;
    width: 100%;

    @include for-large-up {
      max-width: 555px;
      text-align: start;
    }
  }

  &__illustration {
    max-width: 270px;

    @include for-large-up {
      margin: 72px;
      margin-right: 121px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin-top: 40px;
  }

  &__text {
    font-size: 24px;
    line-height: 34px;
    margin-top: 0;
    margin-top: 18px;
  }

  &__form {
    @include for-large-up {
      display: flex;
    }
  }
  &__email {
    margin-top: 0px;
    padding-left: 15px;
    background: $color-white;
    border: 1px solid $color-dark-satin-alfa-20;
    border-radius: 2px;
    height: 48px;
    width: 385px;
    font-size: 18px;
    line-height: 13px;

    @include for-large-down {
      width: 100%;
      text-align: center;
      margin-top: 40px;
    }

    &::placeholder {
      color: $color-dark-satin;
    }
  }

  &__button {
    margin-left: 10px;

    @include for-large-down {
      width: 100%;
      margin-top: 12px;
      margin-left: 0;
    }
  }

  &__terms {
    font-size: 14px;
    line-height: 22px;
    color: $color-dark-satin-alfa-60;
  }

  &__terms-link {
    color: $color-blue-third;
  }
}
