.tips {
  margin-top: 8px;

  @include for-large-up {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid $color-light-gray-second;

  &:last-child {
    border-bottom: none;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: $color-green;
  }

  &__title {
    margin: 0;
    margin-top: 17px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
  }

  &__description {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
    margin-top: 13px;
    margin-bottom: 30px;
  }

  &__decoration {
    margin: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image-caption {
    margin: 0;
    text-align: center;
    min-width: 100%;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: $color-dark-satin-alfa-60;
  }
}

figcaption.tip__image-caption {
  margin: 20px 0 10px;
}
